@media (max-width: 1026px) {
    .container_botao ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .container_botao .botao {
        width: 25px;
    }
}

@media (max-width: 960px) {
    body {
        background-image: url(./imagens/bg-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container_conteudo {
        display: block;
    }

    .container_informacoes {
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    
    .container_informacoes {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .container_informacoes h1 {
        max-width: 100%;
        font-size: 20px
    }

    .container_informacoes p {
        max-width: 100%;
        font-size: 14px;
    }

    .container_informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }
}

@media (max-width: 390px) {
   
}
